// 基礎共通樣式
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    // outline: 1px solid red;
}
 

body{
    width: 100vw;
    min-height: 200vh;
    background-color: #D8D4CD;
}

a{
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none;
}
 
img{
    max-width: 100%;
    vertical-align: top;
}

.container{
    max-width: 1920px;
    width: 100%;
    padding: 0;
    margin: 0 atuo;
}
