//護膚蜜產品

// 產品內容外層容器
.container-product{
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;

    @include mobile{
      flex-direction: column;
    }
}

 /* 產品圖片區 */   
  
.product-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #D2C8B1;

    @include mobile{
      width: 100%;
    }

    
    .bottle{
      position: sticky;
      width: 175px;
      object-fit: contain;
      top: 50%;
      transform: translateY(-50%);
  }

    .photos{
      width: 100%;
      //這裡100%很重要，這樣.photos整條相片，才能跟著吃到上一層.product-img的50%，最終撐滿.container-product的一半寬度。
      margin-top: $marginTop;
    }

    img{
      width: 100%;
      // 圖片本身100%也很重要，因為圖片實際寬度是 735px，視窗拉大後若要繼續保持 .container-product 的一半(1920px/2=960px)，
      // 圖片必須被強制等比例拉寬，所以要強制寬度 100%去填滿，不然會有空隙。
      // 當視窗縮小時，則是去吃基礎設定中的 max-width: 100%，配合縮小。
    }
    
}
  
 /* 產品文字區 */ 
.sticky-wrap{
    position: relative;
    padding: 40px;
    width: 50%;

    @include mobile{
      width: 100%;
    }
  }


.product__info{
  position: sticky;
  top: 0;
}

.product__title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
}

.product__name{
  color: #6db4bb;
  font-size: 30px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 20px;
}

.aromaTag{
  display: inline-block;
  padding: 5px;
  color: #6db4bb;
  border: 1px solid #6db4bb;
  
}

.product__slogan{
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 10px;
}

.product__price{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.product__description{
  border-top: 4px solid #353535;
  padding-top: 20px;
  font-weight: 200;
  margin-bottom: 30px;
  line-height: 1.75;
}

.product__review{
  color: #6db4bb;
  margin-bottom: 20px;
}

.shop{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #D2C8B1;
  font-weight: 500;
}

.minus, .add{
  text-align: center;
  padding: 0 6px;
}

.num{
  padding: 28px 30px; 
}

.addToCart{
  width: 50%;
  font-size: 20px;
  padding: 25px 20px;
  text-align: center;
  background-color: #E67600;
  color: #fff;
}

.text-promo{ 
  margin: 40px 0;
  a{
    color: #e67600;
    text-decoration: underline;
  }
}

// 產品成份說明
.product__ingredients{
  font-weight: 100;
  color: #333333;
  line-height: 1.75;

  input[type="radio"]{
    display: none;
  }

  label{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid #353535;
    cursor: pointer;
  }

  label::after{
    content: "+";
    transform: translateX(-10px) scaleX(1.15);
    font-size: 36px;
    font-weight: 100;
    color: $blue;
  }

  &__body{
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s linear, padding 0.4s linear;

    p:first-child{
      margin-bottom: 20px;
    }
  }

  input[type="radio"]:checked + label + .product__ingredients__body{
    max-height: 400px;
    padding: 20px 15px;
    border-bottom: 1px solid #353535;
  }

  input[type="radio"]:checked + label::after{
    content: "-";
    transform: translateX(-12px) scaleX(2);
  }

  ul{
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .note{
    font-size: 14px;
  }
}

// 黃白鮮花樹枝
.section__middle__first{
  position: relative;
  background-image: url("https://cdn.greenvines.com.tw/shopline/auscentic/product-page/auscentic-body-serum-awakening-grace/a-kv.png");
  background-size: cover;
  margin-top: 300px;
  padding: 160px 0px;

  .leaves{
      position: absolute;
      right: 0;
      top: -200px;
      width: 750px;
  }

  .middle-text{
    font-size: 38px;
    font-weight: 100;
    width: 50%;
    margin: 0 auto;

    p:nth-child(2){
      font-weight: 400;
    }

    p:nth-child(3){
      font-size: 24px;
      font-weight: 400;
    }
  }

  .tree{
    position: absolute;
    left: 0;
    top: 50%;
    max-width: 1920px;

  }

}

// 淺藍色活性精華時代
.section__middle__second{
  padding: 200px 120px;

  @include pad{
    padding: 100px 60px;
   }

  .container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: $blue;
    padding: 50px;
    color: white;
    text-align: center;
  }

  h3{
    font-size: 24px;
    font-weight: 400;
  }

  p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 100;
    line-height: 28px;
  }
}

// 石頭
.section__middle__third{
  position: relative;

  .rock{
    position: absolute;
    left: 0;
    top: -215px;
  }

  .container{
    display: flex;
    margin: 0 auto;

    @include pad{
      flex-direction: column;
     }

  }

  .description{
    width: 50%;
    color: #353535;
    padding: 120px 60px;
    
    @include pad{
      width: 100%;
     }

    
    h3{
      font-size: 26px;
      font-weight: 100;
    }

    h5{
      margin-top: 10px;
      font-size: 20px;
      font-weight: 500;
    }

    p{
      font-size: 16px;
      line-height: 28px;
      font-weight: 100;
    }

    .title-bottombar{
      border-bottom: 1px solid #353535;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    }

  .image{
      background-image: url("https://cdn.greenvines.com.tw/shopline/auscentic/product-page/auscentic-body-serum-awakening-grace/a-s3-p1.jpg");
      background-size: cover;
      background-position: center;
      width: 50%;

      @include pad{
        width: 100%;
        min-height: 500px;
       }

    }
}


// 手肘
.section__middle__fourth{
  .container{
    display: flex;
    background-color: #d2c8b1;
    margin: 0 auto;

    @include pad{
      flex-direction: column;
     }
  }

  .image{
    background-image: url("https://cdn.greenvines.com.tw/shopline/auscentic/product-page/auscentic-body-serum-awakening-grace/a-s3-p2.png");
    background-size: cover;
    background-position: center;
    width: 50%;

    @include pad{
      width: 100%;
      min-height: 500px;
     }
  }

  .description{
    width: 50%;
    color: #353535;
    padding: 120px 60px;

    @include pad{
      width: 100%;
     }
  }

  h3{
    font-size: 26px;
    font-weight: 100;
  }

  h5{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 100;
  }

  .title-bottombar{
    border-bottom: 1px solid #353535;
    margin-top: 30px;
    margin-bottom: 30px;
  }

}

// 科學實測
.section__middle__fifth{
  background-color: #d2c8b1;
  color: #353535;
  text-align: center;
  font-weight: 100;
  padding: 80px 0;

  h3{
    font-size: 26px;
    font-weight: 500;
  }

  h5{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
  }

  .data-circle{
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin: 0 auto;
    padding: 60px 0px;

    p{
      margin-top: 20px;
    }

    @include pad{
      max-width: 75%;
      padding: 60px 0px;
     }
  }
}

.section__footer__bg{
  background-color: #d2c8b1;

  img{
    width: 100%;
  }
}
.news{
  position: fixed;
  right: 0;
  bottom: 120px;
  padding: 10px;
  background-color: #C84600;
  font-size: 14px;
  color: #fff;
  text-align: center;
}


  
  
