@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  width: 100vw;
  min-height: 200vh;
  background-color: #D8D4CD;
}

.no-scroll {
  overflow-y: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0;
  margin: 0 atuo;
}

.menu-mobile {
  background-color: red;
  background-image: linear-gradient(to right, #012D18 50%, #6CB4BD);
  position: fixed;
  width: 100%;
  z-index: 999;
  display: none;
}
@media (max-width: 1080px) {
  .menu-mobile {
    display: block;
  }
}

.menu-mobile-header-container {
  position: relative;
  padding: 0px 30px;
  height: 54px;
  margin: 0 auto;
  padding: 0 25px;
}

.menu-mobile-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-mobile-header .menu-mobile-header__btn {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  fill: white;
  cursor: pointer;
}
.menu-mobile-header .logo-and-cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-mobile-header .logo {
  display: flex;
  align-items: center;
  text-align: center;
  width: 120px;
  margin-left: 15px;
}
.menu-mobile-header .cart {
  position: relative;
}
.menu-mobile-header .cart .cart__count {
  position: absolute;
  top: -10px;
  right: -12px;
  background-color: #C84601;
  text-align: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;
}

.menu-mobile-main.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
}

.menu-mobile-main {
  visibility: hidden;
  opacity: 0.5;
  transform: translateX(-50px);
  transition: all 0.3s ease-in;
  position: fixed;
  width: 100%;
  top: 54px;
  bottom: 0;
  background-color: #012D18;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  line-height: 36px;
}
.menu-mobile-main li {
  padding: 15px 25px;
}
.menu-mobile-main a {
  display: block;
}

.menu-mobile-main__footer .login {
  background-color: #9CABA2;
}
.menu-mobile-main__footer .search {
  background-color: #3B5647;
}

.menu-mobile-main__footer__item a {
  display: flex;
  align-items: center;
}
.menu-mobile-main__footer__item a img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}

nav {
  background-color: grey;
  position: sticky;
  width: 100%;
  z-index: 999;
}

.wrapper {
  position: fixed;
  width: 100%;
  background-image: linear-gradient(to right, #012D18 50%, #6CB4BD);
  padding: 0px 30px;
  height: 54px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1080px) {
  .wrapper {
    display: none;
  }
}

.navbar__left {
  display: flex;
}
@media (max-width: 1080px) {
  .navbar__left li {
    display: none;
  }
}
.navbar__left .logo {
  display: flex;
  align-items: center;
  text-align: center;
  width: 120px;
  margin-right: 45px;
}
.navbar__left .nav-menu {
  display: flex;
  align-items: center;
}
.navbar__left .nav-menu__item {
  padding: 17px 0;
  font-size: 15px;
  margin-right: 32px;
}
.navbar__left .nav-menu__item a:hover {
  opacity: 0.5;
  transition: all 0.3s ease-out;
}
@media (max-width: 1280px) {
  .navbar__left .nav-menu__item {
    font-size: 14px;
    margin-right: 15px;
  }
}
.navbar__left .nav-menu__item:last-child {
  margin-right: 0;
}

.dropdown-menu {
  background-color: #3B5647;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(-16px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s 0.1s;
  display: flex;
  gap: 70px;
  height: 455px;
  padding-top: 50px;
  padding-left: 300px;
}
.dropdown-menu__title {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.dropdown-menu__item {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 10px;
}
.dropdown-menu__item a {
  display: block;
}

.nav-menu__item:hover .dropdown-menu {
  transition-delay: 0s;
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.dropdown-menu.scent {
  background-color: #6CB4BD;
  padding-bottom: 40px;
}
.dropdown-menu.scent .dropdown-menu__title {
  margin-bottom: 10px;
}
.dropdown-menu.scent .dropdown-menu__title.title-scent {
  margin-top: 15px;
}
.dropdown-menu.scent .dropdown-menu__item {
  margin-bottom: 4px;
}
.dropdown-menu.scent .dropdown-menu__group {
  padding: 70px 30px;
  border-left: 1px solid white;
}
.dropdown-menu.scent .dropdown-menu__group img {
  width: 150px;
  margin-bottom: 20px;
}
.dropdown-menu.scent .dropdown-menu__group p {
  color: white;
  font-size: 20px;
  line-height: 32px;
}

.dropdown-menu.latest {
  padding: 0px 32px;
  color: white;
  justify-content: center;
  align-items: center;
}
.dropdown-menu.latest .container {
  max-width: 1280px;
  margin-bottom: 0;
}
.dropdown-menu.latest ul.dropdown-menu_latest_list {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.dropdown-menu.latest li {
  width: 24%;
}
.dropdown-menu.latest img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dropdown-menu.latest div.latest-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  margin-top: 20px;
}
.dropdown-menu.latest p.latest-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  height: 90px;
}
.dropdown-menu.latest a.latest-btn {
  display: block;
  border: 1px solid #fff;
  background-color: #3b5647;
  color: #fff;
  padding: 5px 0px;
  width: 136px;
  font-size: 15px;
  text-align: center;
}

.navbar__right .side-menu {
  display: flex;
  align-items: center;
}
@media (max-width: 1080px) {
  .navbar__right .side-menu li:not(:last-child) {
    display: none;
  }
}
.navbar__right .side-menu li:not(:last-child) {
  margin-right: 30px;
}
.navbar__right .side-menu li {
  cursor: pointer;
}

.navbar__right .side-menu .search-area {
  position: relative;
  display: flex;
}

.search-area__search-btn {
  display: flex;
  align-items: center;
  position: relative;
}
.search-area__search-btn span {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  margin-left: 15px;
}
.search-area__bar {
  display: none;
  transform: scale(1);
  position: absolute;
  right: 0;
  top: 6px;
}
.search-area__bar-input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  width: 200px;
  padding: 0 6px;
}
.search-area__bar-submit-btn {
  color: white;
  border: 1px solid white;
  background-color: transparent;
  padding: 3px 18px;
  position: absolute;
  right: 0;
  bottom: 4px;
  cursor: pointer;
}

.navbar__right .side-menu .member {
  position: relative;
}
.navbar__right .side-menu .member img {
  width: 22px;
}
.navbar__right .side-menu .member:hover img {
  opacity: 0.5;
}
.navbar__right .side-menu .member:hover .member__dropdown {
  top: 52px;
  opacity: 1;
  visibility: visible;
  transition-delay: 0;
}
.navbar__right .side-menu .member .member__dropdown {
  background-color: #3B5647;
  position: absolute;
  width: 170px;
  top: 20px;
  left: -75px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s 0.15s;
}
.navbar__right .side-menu .member .member__dropdown::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #3B5647;
  border-top: 0;
  margin-left: -12px;
  margin-top: -12px;
}
.navbar__right .side-menu .member .member__dropdown a {
  text-align: center;
  display: block;
  padding: 10px 0px 12px;
}

.navbar__right .side-menu .currency .currency__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}
.navbar__right .side-menu .currency .currency__icon {
  max-width: 25px;
}
.navbar__right .side-menu .currency span {
  font-size: 12px;
}

.navbar__right .side-menu .cart {
  position: relative;
}
.navbar__right .side-menu .cart .cart__count {
  position: absolute;
  top: -10px;
  right: -12px;
  background-color: #C84601;
  text-align: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;
}

.breadcrumb {
  background-color: #426150;
  color: white;
  line-height: 1;
  padding: 0px 30px;
  font-weight: 300;
  font-size: 14px;
}
@media (max-width: 1080px) {
  .breadcrumb {
    display: none;
  }
}
.breadcrumb__list {
  display: flex;
}
.breadcrumb__item a {
  position: relative;
  display: flex;
  padding: 10px;
}
.breadcrumb__item:first-child a {
  padding-left: 0;
}
.breadcrumb a:hover {
  opacity: 0.5;
  transition: all 0.3s ease-out;
}
.breadcrumb img {
  width: 10px;
  position: absolute;
  left: 0;
  top: 47%;
  transform: translateY(-35%);
}
.breadcrumb span {
  margin-left: 10px;
}

.container-product {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 768px) {
  .container-product {
    flex-direction: column;
  }
}

/* 產品圖片區 */
.product-img {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .product-img {
    width: 100%;
  }
}
.product-img .bottle {
  position: sticky;
  width: 175px;
  -o-object-fit: contain;
     object-fit: contain;
  top: 50%;
  transform: translateY(-50%);
}
.product-img .photos {
  width: 100%;
  margin-top: -453.40625px;
}
.product-img img {
  width: 100%;
}

/* 產品文字區 */
.sticky-wrap {
  position: relative;
  padding: 40px;
  width: 50%;
}
@media (max-width: 768px) {
  .sticky-wrap {
    width: 100%;
  }
}

.product__info {
  position: sticky;
  top: 0;
}

.product__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
}

.product__name {
  color: #6db4bb;
  font-size: 30px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 20px;
}

.aromaTag {
  display: inline-block;
  padding: 5px;
  color: #6db4bb;
  border: 1px solid #6db4bb;
}

.product__slogan {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 10px;
}

.product__price {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.product__description {
  border-top: 4px solid #353535;
  padding-top: 20px;
  font-weight: 200;
  margin-bottom: 30px;
  line-height: 1.75;
}

.product__review {
  color: #6db4bb;
  margin-bottom: 20px;
}

.shop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #D2C8B1;
  color: #353535;
  font-weight: 500;
}

.minus, .add {
  text-align: center;
  padding: 0 6px;
}

.num {
  padding: 28px 30px;
}

.addToCart {
  width: 50%;
  font-size: 20px;
  padding: 25px 20px;
  text-align: center;
  background-color: #E67600;
  color: #fff;
}

.text-promo {
  margin: 40px 0;
}
.text-promo a {
  color: #e67600;
  text-decoration: underline;
}

.product__ingredients {
  font-weight: 100;
  color: #333333;
  line-height: 1.75;
}
.product__ingredients input[type=radio] {
  display: none;
}
.product__ingredients label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  border-bottom: 1px solid #353535;
  cursor: pointer;
}
.product__ingredients label::after {
  content: "+";
  transform: translateX(-10px) scaleX(1.15);
  font-size: 36px;
  font-weight: 100;
  color: #6CB4BD;
}
.product__ingredients__body {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s linear, padding 0.4s linear;
}
.product__ingredients__body p:first-child {
  margin-bottom: 20px;
}
.product__ingredients input[type=radio]:checked + label + .product__ingredients__body {
  max-height: 400px;
  padding: 20px 15px;
  border-bottom: 1px solid #353535;
}
.product__ingredients input[type=radio]:checked + label::after {
  content: "-";
  transform: translateX(-12px) scaleX(2);
}
.product__ingredients ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}
.product__ingredients .note {
  font-size: 14px;
}

.section__middle__first {
  position: relative;
  background-image: url("../img/middle-flower.png");
  background-size: cover;
  margin-top: 300px;
  padding: 160px 0px;
}
.section__middle__first .leaves {
  position: absolute;
  right: 0;
  top: -200px;
  width: 750px;
}
.section__middle__first .middle-text {
  font-size: 38px;
  font-weight: 100;
  width: 50%;
  margin: 0 auto;
}
.section__middle__first .middle-text p:nth-child(2) {
  font-weight: 400;
}
.section__middle__first .middle-text p:nth-child(3) {
  font-size: 24px;
  font-weight: 400;
}
.section__middle__first .tree {
  position: absolute;
  left: 0;
  top: 45%;
  max-width: 1920px;
}

.section__middle__second {
  padding: 200px 120px;
}
@media (max-width: 1080px) {
  .section__middle__second {
    padding: 100px 60px;
  }
}
.section__middle__second .container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #6CB4BD;
  padding: 50px;
  color: white;
  text-align: center;
}
.section__middle__second h3 {
  font-size: 24px;
  font-weight: 400;
}
.section__middle__second p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
}

.section__middle__third {
  position: relative;
}
.section__middle__third .rock {
  position: absolute;
  left: 0;
  top: -215px;
}
.section__middle__third .container {
  display: flex;
  margin: 0 auto;
}
@media (max-width: 1080px) {
  .section__middle__third .container {
    flex-direction: column;
  }
}
.section__middle__third .description {
  width: 50%;
  color: #353535;
  padding: 120px 60px;
}
@media (max-width: 1080px) {
  .section__middle__third .description {
    width: 100%;
  }
}
.section__middle__third .description h3 {
  font-size: 26px;
  font-weight: 100;
}
.section__middle__third .description h5 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}
.section__middle__third .description p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 100;
}
.section__middle__third .description .title-bottombar {
  border-bottom: 1px solid #353535;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section__middle__third .image {
  background-image: url("../img/middle-bottle.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
}
@media (max-width: 1080px) {
  .section__middle__third .image {
    width: 100%;
    min-height: 500px;
  }
}

.section__middle__fourth .container {
  display: flex;
  background-color: #d2c8b1;
  margin: 0 auto;
}
@media (max-width: 1080px) {
  .section__middle__fourth .container {
    flex-direction: column;
  }
}
.section__middle__fourth .image {
  background-image: url("../img/middle-elbow.png");
  background-size: cover;
  background-position: center;
  width: 50%;
}
@media (max-width: 1080px) {
  .section__middle__fourth .image {
    width: 100%;
    min-height: 500px;
  }
}
.section__middle__fourth .description {
  width: 50%;
  color: #353535;
  padding: 120px 60px;
}
@media (max-width: 1080px) {
  .section__middle__fourth .description {
    width: 100%;
  }
}
.section__middle__fourth h3 {
  font-size: 26px;
  font-weight: 100;
}
.section__middle__fourth h5 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}
.section__middle__fourth p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 100;
}
.section__middle__fourth .title-bottombar {
  border-bottom: 1px solid #353535;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section__middle__fifth {
  background-color: #d2c8b1;
  color: #353535;
  text-align: center;
  font-weight: 100;
  padding: 80px 0;
}
@media (max-width: 1080px) {
  .section__middle__fifth {
    padding: 0;
  }
}
.section__middle__fifth h3 {
  font-size: 26px;
  font-weight: 500;
}
.section__middle__fifth h5 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 100;
}

.data-circle {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  margin: 0 auto;
  padding: 60px 0px;
}
@media (max-width: 1080px) {
  .data-circle {
    max-width: 100%;
    flex-direction: column;
    padding-bottom: 0;
  }
}
.data-circle p {
  margin-top: 20px;
}
@media (max-width: 1080px) {
  .data-circle p {
    margin-bottom: 45px;
  }
}

.section__footer__bg {
  background-color: #d2c8b1;
}
.section__footer__bg img {
  width: 100%;
}

.news {
  position: fixed;
  right: 0;
  bottom: 120px;
  padding: 10px;
  background-color: #C84600;
  font-size: 14px;
  color: #fff;
  text-align: center;
}/*# sourceMappingURL=style.css.map */